*

{

margin: 0;

padding: 0;

}

img

{

border: 0

}

Body, html

{

width:100%;

height:100%;
background:url(thu67.jpg);
width:100%;
	height:100%;
	background:url(thu67.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	background-attachment:fixed;
	color:#a5b329;

font:16px "Times New Roman", Times, serif;

text-align:justify;

color:rgb(0, 0, 0);

}

.site-blok
{
width:900px; /* ширина сайта*/
height: 1600px;px;
margin: 0 auto; /* выравниваем сайт по сентру*/
}

.header
{
background:#450272 ;
}

.logom
{
margin:auto;
width:200px;
height: 200px;
background:#450272 ;
}

.header h1
{
	width:700px;
	height: 130px;
	text-decoration: none;
	float: right;
	text-align: center;
	color: rgb(255, 255, 255);
	padding-top: 70px;
	font:60px "Times New Roman", Times, serif;
}

.header h1:hover
{
color: #a5b329;
text-decoration: none;
}

.navbar
{
	font:16px "Times New Roman", Times, serif;
	background: #c8db1a;
	color: #DB3218;
	list-style-type: none;
	width: 875px;
	height: 50px;
	padding-left: 25px;
}

.navbar a
{
	color: #198f23;
	text-decoration: none;
}

.navbar li:hover ul 
{ 
display: block; 
}

.navbar a:hover
{
color: #DB3218;
text-decoration: none;
}

.navbar ul li 
{
float: none ;
}
.navbar li:hover
{
background-color: rgb(127, 163, 230);
} 
.navbar ul li:hover
{
background-color: rgb(179, 126, 240);
}

.navbar ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    background-color: #06005f;
    position: absolute;
    top: 50px;
    z-index: 999999;
}

.navbar li
{
color: #DB3218;
text-decoration: none;
position: relative;
height: 50px;
text-align:justify;
float: left;
}

.navbar li:hover ul 
{ 
display: block; 
}

.navbar li a 
{
display: inline-block;
padding: 6px;
width: 200px;
color: #fff;
text-decoration: none;
text-align: center;
}

.blok-content
{
background:#e8eb3d ;
}

.blok-left 
{
	background:#2342f1;
	width: 700px ;
	height: 250px;
	text-align: left;
	float: left;
	text-indent: 20px;
}

.blok-left p
{
	font:20px "Times New Roman", Times, serif;
	text-align: left;
	float: center;
	padding: 5px;
	text-indent: 20px;
	color: #ffffff;

	
}

.blok-left h2
{
	*text-align: center;
	padding: 5px;
	text-indent: 20px;
	color: #ffffff;
}

.blok-right
{
	background:#000000;
	width: 200px;
	height: 250px;
	float: right;
	/*text-align: right;*/
	color: white;
	/*text-indent: 20px;*/
}

.blok-right p
{
	background:#7c3a00;
	width: 200px;
	height: 120	px;
	text-align: center;
	text-decoration: none;
}

.blok-right ol
{
	padding-left: 25px
}

.slide 
{
    background:#15236a;
    width: 700px;
	height: 400px;
    float: left;
    /*padding: 5px;*/
    position: relative;
    text-align: center;
}
.slide  input {
    display: none;
}

.slide  input + label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 16px;
    background: rgba(90, 90, 90, 0.8);
    border: 2px solid rgba(190, 190, 190, 0.8);

    cursor: pointer;

    z-index: 100;
    position: relative;

    margin-right: 4px;
    top: 90%;

    transition: background 0.2s ease-out 0s;
}

.slide  input + label:hover {
    background: rgba(250, 250, 250, 0.8);
}

.slide  input:checked + label {
    background: rgba(220, 220, 220, 0.8);
}

.slide  div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.slide  div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out 0.1s, visibility 0.1s ease-out 0.3s;
}

img {
    margin-top: 5px;
    width:690px;
}

.slide  input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.logo
{
	background:#360177;
	width:200px;
	height:400px;
	float: right;
	margin-top: 0px;
}
img.logo
{
	width:190px;
	height:390px;
	padding: 5px;
}
.footer
{
	background:#0f025a;
	width: 900px;
	height: 105px;
	float: left;
}
.footer a
{
	text-decoration: none;
	color: #ffffff;
}

.footer a:hover
{
color: #DB3218;
text-decoration: none;
}

.footer p
{
	text-decoration: none;
	color: #ffffff;
	padding: 5px;
}