
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10%;
	font: inherit ;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Типовые элементы*/

body
{
  width:100%;
  height:100%;
  background-repeat:no-repeat ;
  background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

font:20px  "Candara Light", Times, serif;

}


.site-blok
{
width:1000px; /* ширина сайта*/
margin: 0 auto; /* выравниваем сайт по сентру*/
}

 
.header h1
{
margin:30px 0;
text-align:center;
font:90px  "Algerian", Times, serif;
color:#1018b6;
}


.header h1:hover
{
color: #a5b329;
text-decoration: none;
}

/*размещение логотипа*/
  .Logo
  {
    width:250px;
    height:350px;
	float:center;
    
    position:absolute;
	z-index: 9999;
	padding: 150px;
	margin-top: -130px;
	margin-left:-280px;

	}




/*меню*/

/*Для начала необходимо скрыть список с подпунктами с помощью объявления display: none;, чтобы они не отображались на веб-странице все время. 
Для отображения подпунктов нам нужно чтобы при наведении на элемент <li> список снова был преобразован в блочный элемент. Затем нам нужно сделать так, чтобы наше выпадающее подменю не смещало контент, расположенный под панелью навигации, вниз. 
Для этого мы зададим пунктам списка position: relative;, а списку, содержащему подпункты position: absolute; 
и добавим свойство top со значением 100%, чтобы абсолютно позиционированное подменю отображалось точно под ссылкой.*/


#navbar ul{
  display: none;
  background-color: #59b8dec9;
  position: absolute;
  top: 100%;
  z-index: 999999;
}

/*Убираем у обоих списков отступы и маркеры, установленные по умолчанию. Элементы списка с навигационными ссылками делаем плавающими, формируя горизонтальное меню, но для элементов списка, 
содержащих подпункты задаем float: none;, чтобы они отображались друг под другом.*/   

#navbar li:hover ul { display: block; }
#navbar, #navbar ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 20px;
}


#navbar {
  height: 45px;
  background-color: #f61212c1;
  padding-left: 50px;
  min-width: 470px;
  border-radius:10px;
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
  border-radius: 20px;
}
#navbar li a {
  display: block;
  padding: 7px;
  width: 200px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #87cfebac; }
#navbar ul li:hover { background-color: #e517178d; }
  

.blok-content
{
background:#000000bf;
overflow: hidden;
padding:10px 5px 15px 5px;
border-radius:10px
}

/*создание и размещение левого блока*/
.blok-left
{
background:#80808000;
width:700px; /* ширина блока левого*/
height: 900px;
float:left; /* граница сайта */
padding:5px;
-webkit-box-shadow: 10px 10px 6px -6px #44434300;
-moz-box-shadow: 10px 10px 6px 6px #44434300;
box-shadow: 0 10px 6px -6px rgba(68, 68, 68, 0)
}


.blok-left h2
{
margin:20px 0;
text-align:center;
font:40px  "Candara Light", Times, serif;
color:#FFFFFF;
top: 30px;
}



.blok-left p
{
  font:18px  "Candara Light", Times, serif;
text-align:justify;
color:#fff;
}

/*создание и размещение слайдера*/
.slide {
        width: 702px;
        height: 350px;
		left: -5px;
        border: 2px solid #696969;
        position: relative;
        text-align: center;
		top: 0px;
    border-radius: 30px;
		
    }
	.slide  input {
        display: none;
    }

    .slide  input + label {
        display: inline-block;
        width: 30px;
        height: 30px;
        
        background: rgba(90, 90, 90, 0.8);
        border: 2px solid rgba(190, 190, 190, 0.8);

        cursor: pointer;

        z-index: 100;
        position: relative;

        margin-right: 10px;
        top: 90%;

        transition: background 0.1s ease-out 0s;
      
        border-radius:0px
    }


    .slide  input + label:hover {
        background: rgb(72, 255, 0);
    }

    .slide  input:checked + label {
        background: rgb(255, 0, 0);
    }
	
    .slide  div {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 0;
    }
	
    .slide  div {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
    }

    img {
        width: 702px;
        height: 350px;
        border-radius: 20px;
    }
	
    .slide  input:checked + label + div {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
    }
	
    .slide  div  p {
        position: absolute;
		font-size:18px;
        top: 0px;
        left: 0px;
        right: 0px;
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 3px rgb(34, 34, 34);
    }

A
/*создание и размещение правого блока*/

.blok-right
{
background:#808080;
width:250px; /* ширина блока правого*/
height: 900px;
float:right; /* граница сайта */
margin-right: 5px;
padding:5px;
-webkit-box-shadow: 10px 10px 6px -6px #444343;
-moz-box-shadow: 10px 10px 6px -6px #444343;
box-shadow: 10px 10px 6px -6px #444343;
}

.blok-right Img
  {
    width:265px;
	height:165px;
	margin-top:5px;
	margin-left:5px;
    margin-right:5px;
	margin-bottom: 5px;
  text-decoration: none;
  }
	
		
		
.blok-right p		
{
font:30px  "Candara Light", Times, serif;
text-align:justify;
color:#FFFFFF;
margin: 10px;
padding:5px;
text-decoration: none;
}

.blok-right a
{
  text-decoration: none;
}
footer
{
background:rgba(0, 0, 0, 0.758);
height:200px;
weight:900px;
border-radius:10px;

}
.footer a
{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.footer a:hover
{
color: rgb(254, 1, 1);
text-decoration: none;
}

.footer p
{
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: 5px;
}





